*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{

    background-color: red;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
.subtitulo{
        font-size: 10em;}
        }


