body{

    background-image: url(../CLASE2/imagenes/new-york-3602857_960_720.jpg);
}



h1{

    color: red;
}
p{ color: green;

}

.textoAzul{

    color:blue

}

#unTexto{

    background-color: yellow;
}
img{

    background-image: url(../CLASE2/imagenes/new-york-3602857_960_720.jpg
    );
    
    
}